@charset "UTF-8";

body {
	background-color: hsl(67, 10%, 75%);
	font-style: "Times New Roman", Times, serif;
	text-align: justify;
}

h1 {
	color: hsl(240, 65%, 25%);
	font-weight: 900;
	letter-spacing: 50px;
	text-align: right;
	text-transform: uppercase;
}

h2 {
	background-color: hsl(68, 30%, 30%);
	color: white;
}

#p {
	color: black;
}

.strong {
	color: black;
	font-weight: bolder;
	font-style: italic;
}

.p_img1 {
	text-align: right;
	float: left;
	clear: left;
	float: left;
	width: 10em;
	height: 10em;
	margin: 5px;
	padding: 5px;
}

.p_img2 {
	text-align: center;
	float: left;
	clear: both;
	float: left;
	width: 10em;
	height: 10em;
	margin: 5px;
	padding: 5px;
}

.p_img3 {
	text-align: right;
	float: left;
	clear: right;
	float: left;
	width: 10em;
	height: 10em;
	margin: 5px;
	padding: 5px;
}

.left {
	text-align: left;
	font-style: italic;
	font-size: small;
}

.pie {
	font-size: smaller;
	text-align: center;
	background-color: white;
}

.italic {
	font-style: italic;
}